<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <title>Dionysus</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"> <!-- 파비콘 생성해야함 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    
    <!-- <link rel="stylesheet" href="/css/responsive.css"> / 반응형 작업시 추가 -->

    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <meta name="copyright" content="@Tim Dionysus">
    <meta name="application-name" content="와인이 어려울 때는 Dionysus">
    <!-- <meta property="og:image" content="/images/mobile_link.png"> / 모바일 메인 이미지 생성 및 추가 -->
    <meta property="og:locale" content="ko_KR">

    <meta property="og:title" content="Tim Dionysus">
    <!-- <meta property="og:url" content=""> / 도메인 생성 후 추가 -->
    <meta property="og:description" content="Dionysus - 내 취향에 맞는 와인을 찾고 싶을 때 / 와인정보 / 와인팁">
    <meta property="article:tag" content="와인검색">
    <meta property="article:tag" content="내취향와인">
    <meta property="article:tag" content="wine">
    <meta property="article:tag" content="winetip">
        

    <!--심호선-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <!--얘네가 밑으로 가면 안됨-->


    <!--default.css 도 항상 밑!-->
    <link rel="stylesheet" href="css/default.css">

</head>
<body>


<div class="body">

    <!-- section01,02, header - -->
    <header></header>
    <nav></nav>
    <section></section>
    <section></section>


    <!--section03, nav - -->
    <section></section>


    <!--section04, footer - 심호선 -->
    <section>

        <div class="section4_box">
            <div class="section4_wine_tip">
                <p class="section4_comma"><img src="images/point_icon01.png"/></p>
              
                    
                <p class="section4_tip_txt1"> 어렵지 않게 알 수 있는 와인 상식과 어울리는 음식</p>
               
                
                <p class="section4_tip_txt2 lottemartdream">쉽게 알아보는 <span class="section4_tip_red">Wine Tip</span></p>
               
            </div>
            


       



            <!--참고-->
            <div class="section4">
                <div class="section4-img">
                    <div class=>
                        <!--여기가 유튜브 썸네일-->
                        <img alt="샴페인잔 고르는 팁!" 
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="와인 따르는 팁" 
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                    <div>
                        <img alt="와인따는 팁"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="씬님 와인 추천영상"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                    <div>
                        <img alt="오래된 와인 사용법 와인팁"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="와인용어 총정리"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                    <div>
                        <img alt="동네 와인바 차리는 법 와인팁"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="깨지지않게 와인배송"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                    <div>
                        <img alt="보르도와인은 얼마나 숙성 와인팁?"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="와인씰 따는 법 와인팁"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                    <div>
                        <img alt="와인과 잘 어울리는 과자들"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="와인과 잘 어울리는 과자와 과일"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                    
                    <div>
                        <img alt="와인과 잘 어울리는 과자들"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    <img alt="와인과 잘 어울리는 과자와 과일"
                    src="https://i.ytimg.com/vi/tyiBhjUvkyk/maxresdefault.jpg"/>
                    </div>
                   
                   
                    
                </div>
                
          </div>
        </div>

    </section>
    <footer class="footer_content">
        <div class="footer_content_small_box">
            <p class="footer_logo"><img src="images/dionysos_logo.png" alt="dionysos"/></p>
        
           
            <p class="footer_content_name footer_content_name_spacing">
                <a href="https://www.notion.so/d39810e923f64908ab1915af95e59bc1?v=c9f42558573c46ba93a46f817c20b7d9" target="_blank">심호선</a> 
                <a href="https://www.notion.so/1522fb3cdda34c09a9c57f98c99550d4?v=f9c8e64163b0458faf0bac95d6c5322d" target="_blank">손미나</a> 
                <a href="https://www.notion.so/f4ae108aed854324832f4798bd8f043e?v=e7a2574d880d433e85c0a2ba126e5753" target="_blank">김정겸</a>
                <a href="https://www.notion.so/41651b5b6d11469d870cbf04d48f77a2?v=98deaefb4de0452f9c18704e8498b7dd" target="_blank">유승훈</a>
                <a href="https://www.notion.so/f9bae60151544cb4975ec8549f5a0d49?v=62990f1b19b34b8f99f24579750c52c8" target="_blank">최유나</a></p>
            
            <p class="footer_content_link"><a href="https://www.notion.so/052b42ae4dad4bb9b9131e4430c44177" target="_blank">제작일지</a></p>
            
            <p class="footer_content_copyright">COPYRIGHT ⓒ 2021 Dionysos CORP. ALL RIGHT RESERVED</p>
        </div>


    </footer>

    <script>
        
    /*
    이렇게 계속 틀어질 경우에는 그냥 html에 넣어버려요
    make.js 보다 밑으로 가면 x
    */
        $(document).ready(function(){
          $('.section4-img').slick({
          slidesToShow: 4,
          dots:true,
          centerMode: true,
          });
        });
    </script>

    <script src="js/make.js"></script>
    
</div>

</body>
</html>