@media screen and (max-width: 1280px) {
    .section4_box, .slick-list, .footer_content_small_box, .slick-slide, .section4
    {
       width :100%
        }
    
    
}

                       

@media screen and (max-width: 960px) {
    .section4_box, .slick-list, .footer_content_small_box, .slick-slide, .section4
    {
    
     width :100%
        }
    
}

@media screen and (max-width: 768px) {
    .section4_box, .slick-list, .footer_content_small_box, .slick-slide, .section4
    
  {
      
     width :100%
        }
    
}

@media screen and (max-width: 479px) {
    .section4_box, .slick-list, .footer_content_small_box, .slick-slide, .section4
  {
      
     width :100%
        }
    
}

@media screen and (max-width: 320px) {
   .section4_box, .slick-list, .footer_content_small_box, .slick-slide, .section4
 {
     
    width :100%
       }
   
}