@media screen and (max-width: 768px) {
  .intro_text {
    flex: unset;
    position: relative;
  }

  .mention {
    font-size: 21px;
    position: absolute;
    top: 0;
    right: -50px;
  }

  .mention2 {
    right: -94px;
    padding-top: 30px;
  }

  .header {
    height: 230px;
    flex: unset;
  }

  .nav {
    /*튜터님과 상의후*/
  }

  .nav > li {
    /*튜터님과 상의후*/
}
