@media screen and (max-width: 768px) {
  .intro_text {
    flex: unset;
    position: relative;
  }

  .mention {
    font-size: 21px;
    position: absolute;
    top: 0;
    right: -50px;
  }

  .mention2 {
    right: -94px;
    padding-top: 30px;
  }

  .header {
    height: 250px;
    flex: unset;
    display: inherit;
  }

  .nav {
   display: initial;
   justify-content: normal;
  }

  .nav > li {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin: 0 30px 0 84px;

  
}


@media screen and (max-width: 600px) {
  .intro_logo {
    width: 200px;
  }
 
  .mention {
    font-size: 18px ;
  }

  .wine_color {
    display: block;
  }
}