@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/naumsquare.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');




@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }
  
  @font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
  }
  
  @font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
  }




/* reset */
	html,body {margin:0; padding:0; font-family:'NanumSquare', sans-serif; font-size:13px; color:#000; -webkit-text-size-adjust:none; position:relative; line-height:1.2; background-color:#fff; scroll-behavior: smooth; }

	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:13px; color:#000; font-family:'NanumSquare', sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
	em {font-style:inherit; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:inherit;}
	a:link, a:visited, a:hover {text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}
    button{padding:0; margin:0; box-sizing: border-box;}

	input::-webkit-input-placeholder {color:#aaa;} /* webkit */
	input:-moz-placeholder {color:#aaa;} /* Firefox 4-18 */
	input::-moz-placeholder {color:#aaa;} /* Firefox 19+ */
	input:-ms-input-placeholder {color:#aaa;} /* IE10+ */
	textarea::-webkit-input-placeholder {color:#aaa;} /* webkit */
	textarea:-moz-placeholder {color:#aaa;} /* Firefox 4-18 */
	textarea::-moz-placeholder {color:#aaa;} /* Firefox 19+ */
	textarea:-ms-input-placeholder {color:#aaa;} /* IE10+ */


    .lottemartdream  {font-family: 'LotteMartDream', sans-serif;}
	



/* header */







/*nav*/






/*section01*/






/*section02*/






/*section03*/






/*section04*/

.section4_wine_tip {
	width: 1280px;
	margin: auto;

}

.section4_tip_txt1 {
	font-size: 22px;
	width: 450px;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;

}

.section4_tip_txt2 {
	text-align: center;
	font-size: 43px;
	font-weight: bold;
	width: 430px;
	margin: 15px auto;

}
	

.section4_tip_red{
	color: #880b0b
}





.section4_comma {
	width: 100%;
	

}

.section4_comma img{
	margin: 30px auto;
	display: block;

	

}


.section4_box{
	width: 1280px;
	margin: auto;
	padding: 120px 0px 190px 0px;


}




/*footer*/

  .footer_content {
            font-size: 16px;

            color: white;

            max-width: 100%;
            padding: 100px 0 100px 0;

            background-color: #880b0b;
        }

        .footer_content_small_box {
            width: 1280px;
            margin: auto;
        }


        .footer_content_name {
            font-size: 16px;
            width: 300px;
            margin: auto;
            text-align: center;
        
        }

        .footer_content_link {
            font-size: 16px;
            width: 60px;
            margin: 15px auto;
            text-align: center;

        }

        .footer_content_name_spacing {
            word-spacing: 13px;
			
        }


        .footer_content_copyright {

            font-size: 16px;
            width: 430px;
            margin: 30px auto;
            text-align: center;

        }

        .footer_logo {
            width: 100%;
        


        }

     .footer_logo img{
        height: 80px; 
        width: 160px;
		 display: block;
		 margin: 20px auto;
    
        }



		/*Swiper*/

        

		  .section4{
			width: 1280px;
			margin: 0 auto;
		  }
		  
		  .section4-img{
			width:1280px;
			margin:0px auto;
			
		  }

		  /*이미지를 크롭해서 넣는 법을 구글링해봤는데..ㅎㅎ 
		  안이쁘네요 썸네일 자르는 걸 다른 방식을 고민해여할 것같아요*/

		  .slick-slide /*section4-img*/{
		
			display: block;  
			width: 1280px;
			margin: 10px;

			/*overflow: hidden;*/
		  }

		  .slick-slide img /*section4-img <- 앞부분에 이 명령어를 넣으면 스타일이 적용이 안되던데 왜 그럴까요?*/{
	
			margin: 15px;
			width: 270px;
			height: 270px;
			/*margin: 8% -45%;
   			width: 177.777%;*/

            }

	   
		  .section4 .slick-dots li button:before {
			font-size:20px;
			color: gray;}


		/* 화살표 */

		.slick-prev/*section4-arrow*/ {
			left: -25px;
		}
		.slick-prev, .slick-next /*section4-arrow*/{
			font-size: 0px;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
			width: 20px;
			height: 20px;
			margin-top: -10px;
			padding: 0px;
			cursor: pointer;
			color: transparent;
			border: 0px;
			outline: 0px;
			background: transparent;
		}

		
		}
		.slick-slider /*section4-arrow*/ {
			position: relative;
			display: block;
			box-sizing: border-box;
			user-select: none;
			touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
		}
		.slick-slider /*section4-arrow*/ {
			position: relative;
			display: block;
			box-sizing: border-box;
			user-select: none;
			touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
		}
	
		.slick-prev::before /*section4-arrow*/ {
			content: "←";
		}
		.slick-prev::before, .slick-next::before /*section4-arrow*/ {
			font-family: slick;
			font-size: 30px;
			line-height: 1;
			opacity: 0.75;
			color: gray;
			-webkit-font-smoothing: antialiased;
			
		}


		/* 카드 몸체 */

			.slick-list /*section4-list*/{
				width: 1150px;
				position: relative;
				display: block;
				overflow: hidden;
				padding: 0;
				margin:  auto;
				
			}
			
			div {
				display: block;
			}
			.slick-slider /*section4-list*/{
				position: relative;
				display: block;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-touch-callout: none;
				-khtml-user-select: none;
				-ms-touch-action: pan-y;
				touch-action: pan-y;
				-webkit-tap-highlight-color: transparent;
			}


		/*슬라이드 몸통*/
			

			.section4-slide.slick-slider .slick-track, .slick-slider .slick-list {
				-webkit-transform: translate3d(0,0,0);
				-moz-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				-o-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			.section4-slide.slick-list {
				width: 1150px;
				position: relative;
				display: block;
				overflow: hidden;
				margin: 0px auto;
				padding: 0px;
			}
			.section4-slide.slick-list {
				position: relative;
				display: block;
				overflow: hidden;
				margin: 0 auto;
				padding: 0;

			}

			/*하단 버튼 <-- 이게 화살표 넘기는 파트랑 동일하게 연동되지 않아요. 
							6개를 넘기면 밑에 6개 하단 버튼이 있어야하는데 3개가 있는 정도*/



			/*여기서 이제 css 수정하면 되여*/