
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

        <title>Dionysus</title>


        <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
        
        <!-- font -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- section02 slide -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.6/swiper-bundle.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.6/swiper-bundle.min.js"></script>

        <!-- section04 slide -->
        <link rel="stylesheet" type="text/css" href="/static/plugin/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/static/plugin/slick/slick-theme.css"/>
        <script type="text/javascript" src="/static/plugin/slick/slick.js"></script>

        <!-- Modernizr -->
        <script src="/static/js/modernizr.js"></script>

        <!-- basic css -->

        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/responsive.css">

        <meta name="copyright" content="@Tim Dionysus">
        <meta name="application-name" content="와인이 어려울 때는 Dionysus">
        <meta property="og:image" content="/static/images/mobile_link.png">
        <meta property="og:locale" content="ko_KR">

        <meta property="og:title" content="Tim Dionysus">
        <!-- <meta property="og:url" content=""> / 도메인 생성 후 추가 / 포폴제작시 추가 -->
        <meta property="og:description" content="Dionysus - 내 취향에 맞는 와인을 찾고 싶을 때 / 와인정보 / 와인팁">






    </head>
    <body>

        <div class="body">

            <!-- section01,02, header - -->
            <header id="headct">
                <ul id="mhead_size02">
                    <li>
                        <a href="#">
                            <!--logo-->
                        </a>
                    </li>
                    <li id="mhead_size">
                        <a href="#section02">베스트와인</a>
                        <a href="#section03">와인찾기</a>
                        <a href="#section04">와인팁</a>
                    </li>
                </ul>
                <button type="button" id="mb_openbtn" onclick="open_mobilemu()">
                    <span></span><span></span><span></span>
                </button>
            </header>

            <!-- nav -->

            <nav id="r_nav">
                <div class="r_nav_content">
                    <ul class="swiper-wrapper" id="r_nav_list">
                        <li class="swiper-slide">
                           <img src="../static/images/eximg01.png" alt="이전에 봤던 와인">
                        </li>
                        <li class="swiper-slide">
                            <img src="../static/images/eximg01.png" alt="이전에 봤던 와인">
                        </li>
                        <li class="swiper-slide">
                            <img src="../static/images/eximg01.png" alt="이전에 봤던 와인">
                        </li>
                    </ul>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </nav>
            
            <!-- section01 -->
            <section class="section01_content">
                <img src="../static/images/logo02.png" alt="logo">
            </section>

            <!-- section02 -->
            <section class="section02_content bk-slider" id="section02">
                <div class="section02_mbbox">
                    <div class="title_box">
                        <!-- 예시01 -->
                        <p>어려울 때는 대세의 추천을 받아보자</p>
                        <h2>디오니소스가 추천하는
                            <span>best wine</span></h2>
                    </div>
                    

                    <ul class="set02_slidebox swiper-wrapper" id="recommend_box">

                    </ul>
                    <div class="swiper-pagination">
                        <!--Pagination-->
                    </div>
                </div>
            </section>

            <!--section03- -->
            <section class="section03_content" id="section03">
                <div class="section03_mbbox">
                    <div class="title_box">
                        <p>내가 원하는 취향대로 손쉽게 찾아보자</p>
                        <h2>
                            <span>내 취향 와인 찾기</span></h2>
                    </div>
                    <div class="search_box">
                        <form >
                            <ul class="icon_tab">
                                <li class="set03_linik" onclick="open_Set03_tab(event, 'type')">
                                    <h3>종류</h3>
                                </li>
                                <li class="set03_linik" onclick="open_Set03_tab(event, 'country')">
                                    <h3>국가별</h3>
                                </li>
                                <li class="set03_linik" onclick="open_Set03_tab(event, 'price')">
                                    <h3>가격대</h3>
                                </li>
                                <li class="set03_linik" onclick="open_Set03_tab(event, 'grade')">
                                    <h3>맛</h3>
                                </li>
                                <li class="set03_linik" onclick="open_Set03_tab(event, 'concentration')">
                                    <h3>알콜농도</h3>
                                </li>
                            </ul>

                            <div class="icon_tab_ct" id="type">
                                <!--종류-->
                            </div>

                            <div class="icon_tab_ct" id="country">
                                <!--국가별-->
                            </div>

                            <div class="icon_tab_ct" id="price">
                                <!--가격대-->
                                <ul>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0301" class="set03_checkbox" onclick="checkbox_onclick()" value="가격 상관없음">
                                        <label for="checkbox0301">All</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0302" class="set03_checkbox" onclick="checkbox_onclick()" value="1만원 이하">
                                        <label for="checkbox0302">1만원 이하</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0303" class="set03_checkbox" onclick="checkbox_onclick()" value="1만원 ~ 3만원">
                                        <label for="checkbox0303">1만원 ~ 3만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0304" class="set03_checkbox" onclick="checkbox_onclick()" value="3만원 ~ 5만원">
                                        <label for="checkbox0304">3만원 ~ 5만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0305" class="set03_checkbox" onclick="checkbox_onclick()" value="5만원 ~ 7만원">
                                        <label for="checkbox0305">5만원 ~ 7만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0306" class="set03_checkbox" onclick="checkbox_onclick()" value="7만원 ~ 10만원">
                                        <label for="checkbox0306">7만원 ~ 10만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0307" class="set03_checkbox" onclick="checkbox_onclick()" value="10만원 ~ 20만원">
                                        <label for="checkbox0307">10만원 ~ 20만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0308" class="set03_checkbox" onclick="checkbox_onclick()" value="20만원 ~ 50만원">
                                        <label for="checkbox0308">20만원 ~ 50만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0309" class="set03_checkbox" onclick="checkbox_onclick()" value="50만원 ~ 100만원">
                                        <label for="checkbox0309">50만원 ~ 100만원</label>
                                    </li>
                                    <li class="round_checkbox">
                                        <input type="checkbox" id="checkbox0310" class="set03_checkbox" onclick="checkbox_onclick()" value="100만원 이상">
                                        <label for="checkbox0310">100만원 이상</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="icon_tab_ct" id="grade">
                                <!--맛 별-->
                                <ul>
                                    <li class="round_checkbox02">
                                        <p>당도</p>
                                        <div class="radio_box">
                                            <div>
                                                <!--<input type='radio' name='taste_sweet' value='sweet01' id="radio0101" onclick="radio_onclick()">-->
                                                <!-- 다른검색과 통일을 위한 radio_onclick -> checkbox_onclick 로 수정 -->
                                                <input type='radio' name='taste_sweet' value='sweet01' id="radio0101" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0101"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_sweet' value='sweet02' id="radio0102" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0102" ></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_sweet' value='sweet03' id="radio0103" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0103"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_sweet' value='sweet04' id="radio0104" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0104"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_sweet' value='sweet05' id="radio0105" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0105" ></label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="round_checkbox02">
                                        <p>탄닌</p>
                                        <div class="radio_box">
                                            <div>
                                                <input type='radio' name='taste_Tannin' value='Tannin01' id="radio0201" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0201"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Tannin' value='Tannin02' id="radio0202" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0202" ></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Tannin' value='Tannin03' id="radio0203" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0203"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Tannin' value='Tannin04' id="radio0204" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0204"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Tannin' value='Tannin05' id="radio0205" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0205" ></label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="round_checkbox02">
                                        <p>산도</p>
                                        <div class="radio_box">
                                            <div>
                                                <input type='radio' name='taste_Acid' value='Acid01' id="radio0301" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0301"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Acid' value='Acid02' id="radio0302" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0302" ></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Acid' value='Acid03' id="radio0303" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0303"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Acid' value='Acid04' id="radio0304" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0304"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_Acid' value='Acid05' id="radio0305" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0305" ></label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="round_checkbox02">
                                        <p>바디</p>
                                        <div class="radio_box">
                                            <div>
                                                <input type='radio' name='taste_bodied' value='bodied01' id="radio0401" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0401"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_bodied' value='bodied02' id="radio0402" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0402" ></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_bodied' value='bodied03' id="radio0403" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0403"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_bodied' value='bodied04' id="radio0404" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0404"></label>
                                            </div>
                                            <div>
                                                <input type='radio' name='taste_bodied' value='bodied05' id="radio0405" class="set03_checkbox" onclick="checkbox_onclick()">
                                                <label for="radio0405"></label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="icon_tab_ct" id="concentration">
                                <!--알콜농도-->
                              
                            </div>

                            <button type="button" onclick="clear_checkbox()" id="sec03_resetbtn">초기화</button>
                        </form> <!--b - 작업 가능-->
                    </div>

                    <div class="winelist_ct" id="winelist_ctw">
                        <!--결과리스트-->
                        <ul class="list_ctt"> 
                            <li id="list_ctt_tag">
                            </li>
                            <li>
                                <button type="button">추천순</button>
                                <span></span>
                                <button type="button">낮은 가격순</button>
                                <span></span>
                                <button type="button">높은 가격순</button>
                            </li>
                        </ul>
                        <ul class="list_ctc">
                           
                        </ul>
                        <div class="Pagination">
                            <!--Pagination-->
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- section04-->



             <section>

                <div class="section4_box">

                    <div class="title_box">
                        <p>어렵지 않게 알 수 있는 <span>와인 상식과 어울리는 음식</span></p>
                        <h2>쉽게 알아보는
                            <span>Wine Tip</span></h2>
                    </div>
                 
                    
                    <!--참고-->
                    <div class="section4">
                        <div class="section4-img">
                            
                          
        
                            
        
                            <div>
        
                                <a class="section4-img_ramdon" href="https://www.youtube.com/watch?v=GEFcRflo0c4" target="_blank">
                                    <img alt="간단하면서 예쁜, 5분 완성 와인안주 추천 BEST 5 (요리 못해도 따라하기 쉬워요!!!)" 
                                src="/static/images/wine_thumbnail_01.png"/>
                                </a>
                                <a class="section4-img_ramdon" href="https://www.youtube.com/watch?v=dQnjf9ouGgk" target="_blank">
                                    <img alt="제가 갖고 있는 와인 중에 제일 저렴한(?) 와인으로 뱅쇼 끓여봤습니다...?" 
                                src="/static/images/wine_thumbnail_04.png"/>
                                </a>
                               
                            </div> 
                            <div>
        
                                <a class="section4-img_ramdon" href="https://www.youtube.com/watch?v=8u08MgeKPg0" target="_blank">
                                    <img alt="소소한 홈파티에 필요한 와인... 그리고 안주 분위기 내기 좋은 와인과 어울리는 와인안주 10가지" 
                                src="/static/images/wine_thumbnail_03.png"/>
                                </a>
                                <a class="section4-img_ramdon" href="https://www.youtube.com/watch?v=fPGo1oiMaIY" target="_blank">
                                    <img alt="코스트코 음식과 추천와인으로 크리스마스 홈파티🥂크리스마스음식/연말음식 costco" 
                                src="/static/images/wine_thumbnail_02.png"/>
                                </a>
                                
                            </div> 
                            <div>
        
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=XdTFLPQoDN8" target="_blank">
                                    <img alt="[쉐프의 레시피] 집에서 간단하게 만드는 와인바 음식" 
                                src="/static/images/wine_thumbnail_05.png"/>
                                </a>
                                
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=5l7evxFTCBc" target="_blank">
                                    <img alt="안보면 후회하는 초간단요리 4가지 팁 와인안주" 
                                src="/static/images/wine_thumbnail_06.png"/>
                                </a>
                            </div> 
                            <div>
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=IDACE3ozqYw" target="_blank">
                                    <img alt="일반인 99%가 모르는 와인 마실 때 유용한 와인 꿀팁 7가지" 
                                src="/static/images/wine_thumbnail_07.png"/>
                                </a>
                                
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=G24sSpk9fe8" target="_blank">
                                    <img alt="[와인팁] TOP 보르도와인은 대체 얼마나 숙성시켜야 할까요?" 
                                src="/static/images/wine_thumbnail_08.png"/>
                                </a>
                               
                            </div> 
                            <div>
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=47Y4jVLqw3s" target="_blank">
                                    <img alt="와인에 따라 와인잔도 달라져야 한다? 와인 맛을 결정하는 와인잔 종류의 모든 것!" 
                                src="/static/images/wine_thumbnail_09.png"/>
                                </a>
                                
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=cAPZ_JdS0eI" target="_blank">
                                    <img alt="[와인상식 #15] 와인 마신 후 머리가 아프다면? 5가지 팁을 알려드려요" 
                                src="/static/images/wine_thumbnail_10.png"/>
                                </a>
                               
                            </div>
                            <div>
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=Yq-W-W3dwek" target="_blank">
                                    <img alt="절대 피해야 할 와인 보관법 5가지 (+ 와인냉장고 없을 때 가장 좋은 와인 보관 방법)" 
                                src="/static/images/wine_thumbnail_11.png"/>
                                </a>
                                
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=OPjP8Vot1Uo" target="_blank">
                                    <img alt="와인잔의 종류와 디캔터 그리고 디캔팅하는 법과 팁까지 알려드립니다." 
                                src="/static/images/wine_thumbnail_12.png"/>
                                </a>
                                
                            </div>
                            <div>
        
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=5qTXSZkGZ9w" target="_blank">
                                    <img alt="와인따는법 절대 실패없는 코르크 오픈 꿀팁방출! [와인디렉터 양갱]" 
                                src="/static/images/wine_thumbnail_13.png"/>
                                </a>
                                
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=WC6De3y53ew" target="_blank">
                                    <img alt="와인용어, 와인 전용 표현, 소믈리에가 쓰는 와인어휘" 
                                src="/static/images/wine_thumbnail_14.png"/>
                                </a>
                            </div>
                            <div>
        
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=bI5YKFUoYoc" target="_blank">
                                    <img alt="와인따개없이 와인따는법 3가지(현실 버전" 
                                src="/static/images/wine_thumbnail_15.png"/>
                                </a>
                                
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=OPjP8Vot1Uo" target="_blank">
                                    <img alt="[와인팁] 샴페인은 왜 다른 스파클링와인하고 다를까?" 
                                src="/static/images/wine_thumbnail_16.png"/>
                                </a>
                            </div>
                            <div>
        
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=gv-h5dRW_pc" target="_blank">
                                    <img alt="요리할 때 와인을 넣고 끓이는 이유ㅣ쿠킹팁ㅣ권오진 셰프" 
                                src="/static/images/wine_thumbnail_17.png"/>
                                </a>
                               
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=QJhWHE7wbj8" target="_blank">
                                    <img alt="와인 초보도 와인 좀 아네?라고 듣는, 와인 매너 BEST 7 (와인 마시는 법, 와인 따르는 법 등)" 
                                src="/static/images/wine_thumbnail_18.png"/>
                                </a>
                            </div>
                            <div>
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=lE_xeld-BGk" target="_blank">
                                    <img alt="와인을 살때 절대 하지말아야할 10가지 꿀팁" 
                                src="/static/images/wine_thumbnail_19.png"/>
                                </a>
        
                                <a class="section4-img_random" href="https://www.youtube.com/watch?v=BsI4xXb3bKU" target="_blank">
                                    <img alt="[와인 TIP] 스파클링 와인, 샴페인 오픈 방법!!!" 
                                src="/static/images/wine_thumbnail_20.png"/>
                                </a>
                                
                                
                            </div>
        
                        </div>
                    </div>
                </div>       
                
        
            </section>
            <footer class="footer_content">
                <div class="footer_content_small_box">
                    <p class="footer_logo"><img src="/static/images/dionysos_logo.png" alt="dionysos"/></p>
                
                   
                    <p class="footer_content_name footer_content_name_spacing">
                        <a href="https://coding-salmon.tistory.com/" target="_blank">심호선</a> 
                        <a href="https://oes108333.tistory.com/" target="_blank">손미나</a> 
                        <a href="https://github.com/jeongkyeom/journal-of-developing/issues" target="_blank">김정겸</a>
                        <a href="https://huni-programming.tistory.com/" target="_blank">유승훈</a>
                        <a href="https://af-programming.tistory.com/" target="_blank">최유나</a></p>
                    
                    <p class="footer_content_link"><a href="https://www.notion.so/052b42ae4dad4bb9b9131e4430c44177" target="_blank">제작일지</a></p>
                    
                    <p class="footer_content_copyright">COPYRIGHT ⓒ 2021 Dionysos CORP. ALL RIGHT RESERVED</p>
                </div>
        
        
            </footer>





        </div>

        <!--wine infor-->
        <div class="wine_infor_content" id="wine_infor_content">
           
        </div>

        <script>

            /*section04 script 수정 필요*/
            $(function(){
			$('.section4-img').slick({
				slide: 'div',		//슬라이드 되어야 할 태그 ex) div, li 
				infinite : true, 	//무한 반복 옵션	 
				slidesToShow : 4,		// 한 화면에 보여질 컨텐츠 개수
				slidesToScroll : 1,		//스크롤 한번에 움직일 컨텐츠 개수
				speed : 100,	 // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
				arrows : true, 		// 옆으로 이동하는 화살표 표시 여부
				dots : true, 		// 스크롤바 아래 점으로 페이지네이션 여부
				autoplay : true,			// 자동 스크롤 사용 여부
				autoplaySpeed : 3000, 		// 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
				pauseOnHover : true,		// 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
				vertical : false,		// 세로 방향 슬라이드 옵션
				prevArrow : "<button type='button' class='slick-prev'>Previous</button>",		// 이전 화살표 모양 설정
				nextArrow : "<button type='button' class='slick-next'>Next</button>",		// 다음 화살표 모양 설정
				dotsClass : "slick-dots", 	//아래 나오는 페이지네이션(점) css class 지정
				draggable : true, 	//드래그 가능 여부 
				
				responsive: [ // 반응형 웹 구현 옵션
                {  
						breakpoint: 1281, //화면 사이즈 1280px
						settings: {
							//위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
							slidesToShow: 4,
                            arrows : false
                            
						} 
					},
					{  
						breakpoint: 961, //화면 사이즈 960px
						settings: {
							//위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
							slidesToShow: 3,
                            arrows : false
                            
						} 
					},
					{ 
						breakpoint: 769, //화면 사이즈 768px
						settings: {	
							//위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
							slidesToShow: 2,
                            arrows : false
						} 
					},

                    { 
						breakpoint: 481, //화면 사이즈 480px
						settings: {	
							//위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
							slidesToShow: 1,
                            arrows : false
						} 
					}
				]

			});
  		})
        </script>
        <script src="/static/js/make.js"></script>
    </body>
</html>